.deleteTaskItem {
  background-color: red;
  color: white;
  display: inline-block;
}

#tasks {
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

img {
  max-width: 150px;
}

.triple {
  color: #57585a;
}

.lift {
  color: #f0673b;
}
